[Desktop Entry]
Type=Application
Name=FollowerPiPicPoller
Exec=lxterminal -e /usr/bin/python3 /home/cmosc/cmosc-victorian/src/followerPiPicPoller.py
X-GNOME-Autostart-enabled=true

